@import "../../../styles/head";

.footer {
  font-size: $h3;
  text-align: center;
  margin: $g-m 0;
  @include no-select;

  .bold {
    font-weight: $b;
  }

  a {
    border-bottom: solid 1px transparent;
    transition: border-color $de;
    cursor: pointer;

    &:hover {
      border-color: $c-dark;
    }
  }
}
