// Font

$f: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$f-s: 14px;
$t: 100;
$b: 700;

// Text

$h1: 4rem;
$h2: 3rem;
$h3: 2rem;
$h4: 1.2rem;
$h5: 1.1rem;
$h6: 0.8rem;

// Color

$c-dark: #1b262c;
$c-light: #f9f9f9;
$c-main: #fff48f;
$c-main-a: #394989;
$c-divider: #ece8d9;

// Space

$g-xxs: 5px;
$g-xs: 10px;
$g-s: 15px;
$g-m: 30px;
$g-l: 45px;
$g-xl: 60px;
$g-xxl: 100px;

// Radius

$r: $g-xxs;
$r-100: $g-xxl;

// Shadow

$s-box: 0 $g-xxs $g-s rgba($c-dark, 0.08);

// Easing

$e-io: ease-in-out;
$e-i: ease-in;
$e-o: ease-out;
$e-l: linear;

// Duration

$d: 0.4s;
$d-l: 0.6s;
$d-xl: 0.8s;
$d-xxl: 1s;

$de: $d $e-o;

// Mixins

@mixin no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
