@import "../../../styles/head";

.header {
  background: $c-main;
  color: $c-dark;
  padding: $g-xxl $g-m;
  text-align: center;
  border-radius: $r;
  margin-bottom: $g-m;
}

.title {
  font-size: $h2;
  font-weight: $b;
  margin-bottom: $g-xs;
}

.desc {
  font-size: $h4;
  line-height: $h4 * 1.5;
}

.bold {
  font-weight: $b;
}
