@import "../../../styles/head";

.topbar {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  background: rgba($c-light, 0.85);
  backdrop-filter: blur(15px);
  padding: $g-xs $g-s;
  border-bottom: solid 1px $c-divider;
  @include no-select;

  &.placeholder {
    visibility: hidden;
    position: unset;
    top: unset;
    left: unset;
    right: unset;
    margin-bottom: $g-m;
  }
}

.name {
  display: flex;
  align-items: center;
  font-size: $h3;
  font-weight: $b;
  cursor: pointer;

  span[role="img"] {
    display: none;
    margin-left: $g-xxs;
  }
}

.link {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  button {
    display: flex;
    align-items: center;
    background: $c-dark;
    color: $c-light;
    font-size: $h5;
    font-weight: $b;
    padding: $g-xs $g-s;
    border-radius: $r;
    transition: color $de;

    &:hover {
      color: $c-main;
    }

    svg {
      display: none;
      width: $h3;
      margin-left: $g-xxs;
    }
  }
}

// Responsive

@media only screen and (min-width: 360px) {
  .name {
    span[role="img"] {
      display: block;
    }
  }

  .link {
    button {
      svg {
        display: block;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .topbar {
    padding: $g-xs 5%;
  }
}

@media only screen and (min-width: 1280px) {
  .topbar {
    padding: $g-xs 10%;
  }
}

@media only screen and (min-width: 1600px) {
  .topbar {
    padding: $g-xs 20%;
  }
}
