@import "../../../styles/head";

.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  background: $c-light;
  padding: $g-xs $g-s;
  border-bottom: solid 1px $c-divider;

  &.placeholder {
    visibility: hidden;
    position: unset;
    top: unset;
    left: unset;
    right: unset;
    margin-bottom: $g-m;
  }

  & > div {
    flex: 1;
    display: flex;
    align-items: center;
  }

  .name {
    font-size: $h3;
    font-weight: $b;
    cursor: pointer;

    span[role="img"] {
      margin-left: $g-xxs;
    }
  }

  .link {
    justify-content: flex-end;

    button {
      display: flex;
      align-items: center;
      background: $c-dark;
      color: $c-light;
      font-size: $h5;
      font-weight: $b;
      padding: $g-xs $g-s;
      border-radius: $r;

      svg {
        width: $h3;
        margin-left: $g-xxs;
      }
    }
  }
}

// Responsive

@media only screen and (min-width: 1024px) {
  .topbar {
    padding: $g-xs 5%;
  }
}

@media only screen and (min-width: 1280px) {
  .topbar {
    padding: $g-xs 10%;
  }
}

@media only screen and (min-width: 1600px) {
  .topbar {
    padding: $g-xs 20%;
  }
}
