/* Reset */

* {
  margin: 0;
  padding: 0;
  word-break: break-word;
  word-wrap: break-word;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*:focus {
  outline: none;
}

/* App */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
}

/* Modal */

.modalContainer {
  background: rgba(0, 0, 0, 0.15);
}

.modal {
  background: #fff;
  padding: 20px;
}
